<form action="#" method="POST" class="form">
  <h4>Add New Plant</h4>

  <label for="plant_image">Plant Image (Please submit link to image):</label><br />
  <input
    type="text"
    id="plant_image"
    name="plant_image"
    value="{{plantData.plant_image}}"
  /><br />

  <label for="plant_name">Plant Name:</label><br />
  <input
    type="text"
    id="plant_name"
    name="plant_name"
    value="{{plantData.plant_name}}"
  /><br />

  <label for="difficulty">Difficulty (1-10):</label><br />
  <input
    type="text"
    id="difficulty"
    name="difficulty"
    value="{{plantData.difficulty}}"
  /><br />

  <label for="water">Watering:</label><br />
  <input type="text" id="water" name="water" value="{{plantData.water}}" /><br
  />

  <label for="sun">Sun:</label><br />
  <input type="text" id="sun" name="sun" value="{{plantData.sun}}" /><br />

  <label for="indoor_outdoor">Indoor/Outdoor  (Please choose one or the other):</label><br />
  <input
    type="text"
    id="indoor_outdoor"
    name="indoor_outdoor"
    value="{{plantData.indoor_outdoor}}"
  /><br />

  <label for="zone">Hardiness Zone:</label><br />
  <input type="text" id="zone" name="zone" value="{{plantData.zone}}" /><br />

  <button type="submit" class="update">Update</button>
</form>